{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 3 versions"]
        },
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "external-helpers",
    "transform-class-properties",
    "transform-runtime"
  ]
}
